In [2]:
#convert a temperature from celsius to farenheit

farenheit=float(input())
celsius=(farenheit-32)*5/9
print(celsius)

 35

1.6666666666666667

In [5]:
# find the second largest element in a list

a=[6,5,9,2,3,8]
print(a)
b=[]
b=sorted(a,reverse=True)
print("the sorted list is:",b)
print("the sorted largest number in the given list is:",b[-2])

[6, 5, 9, 2, 3, 8]
the sorted list is: [9, 8, 6, 5, 3, 2]
the sorted largest number in the given list is: 3

In [1]:
# count the occurences of each element in a list

a=[4,5,6,7,8,6,4]
x=6
n=[i for i in a if i==x]
print("the element",x,"occurs",len(n),"times")

the element 6 occurs 2 times

In [13]:
# find the sum of all even numbers in a list

numbers=[1,2,3,4,5,6,7,8,9,10]
even_sum = sum(num for num in numbers if num % 2 ==0)
print("sum of even numbers",even_sum)

sum of even numbers 30

In [22]:
#reverse a string

def reverse(string):
    string=string[::-1]
    return string
b="hello world"
print("The original string is:",end=" ")
print(b)
print("The reversed string is:",end=" ")
print(reverse(b))

The original string is: hello world
The reversed string is: dlrow olleh

In [26]:
#to find the number of vowels in a string
string="alekhya"
vowels="aeiouAEIOU"
count=sum(string.count(vowel) for vowel in vowels)
print(count)

3